.loader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Choose ONE background style */
  /* background: #ffffff;            solid white */
  /* background: #000000;        black */
  /* background: #f5f5f5;        light gray */
  background: linear-gradient(90deg, #e6f0ea 51.44%, #a5f2c3 86.54%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  /* Optional blur effect remove for solid background */
  /* backdrop-filter: blur(2px); */
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
