.popup-container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ededed33;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.popup {
  width: 100%;
  max-width: 421px;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px 1px gray;
}

.popup-title {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.popup-body {
  padding: 20px;
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #ed9600;
  margin-bottom: 12px;
}

.device {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 6px;
  margin: 12px 0;
  font-family: monospace;
}

.note {
  font-size: 14px;
  color: #6b7280;
}

.popup-actions {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #e5e7eb;
  justify-content: center;
}

.button {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.cancel {
  color: #ffffff;
  background-color: #107010;
}

.cancel:hover {
  background: #075907;
}
.danger {
  background: #ed9600;
  color: #fff;
}

.danger:hover {
  background: #d27204;
}

/* Mobile friendly */
@media (max-width: 480px) {
  .popup {
    max-width: 95%;
  }
}
