<div class="main-container">
  <h3>Hazards Feed</h3>

  <!-- ====== TABS SECTION ====== -->
  <div class="summary-table-container d-flex flex-wrap gap-3 mb-3 mt-3">
    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Flood' }"
      (click)="setActive('Flood')"
    >
      <i class="fas fa-water"></i> Flood
    </button>

    <button
      class="btn btn-outline-success justify-content-center"
      [ngClass]="{ 'active': activeHazardTab === 'Cyclone' }"
      (click)="setActive('Cyclone')"
      onmouseout="if(!this.classList.contains('active')) this.querySelector('img').style.filter='invert(42%) sepia(85%) saturate(300%) hue-rotate(90deg) brightness(80%) contrast(100%)'"
    >
      <img
        src="assets/icons/cyclone.svg"
        alt=""
        width="20"
        style="
          /* Default filter that approximates Bootstrap's success green */
          filter: invert(42%) sepia(85%) saturate(300%) hue-rotate(90deg)
            brightness(80%) contrast(100%);
          transition: 0.2s;
        "
        [style.filter]="activeHazardTab === 'Cyclone' ? 'brightness(0) invert(1)' : 'invert(42%) sepia(85%) saturate(300%) hue-rotate(90deg) brightness(80%) contrast(100%)'"
      />
      Cyclone
    </button>
    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Snowfall' }"
      (click)="setActive('Snowfall')"
    >
      <i class="fa-solid fa-snowflake"></i> Snowfall
    </button>

    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Avalanche' }"
      (click)="setActive('Avalanche')"
    >
      <i class="fas fa-mountain"></i> Avalanche
    </button>
    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Lightning' }"
      (click)="setActive('Lightning')"
    >
      <i class="fa-solid fa-bolt-lightning"></i>
      Lightning
    </button>

    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Landslide' }"
      (click)="setActive('Landslide')"
    >
      <i class="fa-solid fa-mountain-city"></i>

      Landslide
    </button>

    <button
      class="btn btn-outline-success"
      [ngClass]="{ 'active': activeHazardTab === 'Cloudburst' }"
      (click)="setActive('Cloudburst')"
    >
      <i class="fas fa-cloud-bolt"></i> Cloudburst
    </button>
  </div>

  <!-- ====== FORM APPEAR AFTER TAB CLICK ====== -->
  <div *ngIf="activeHazardTab" class="card p-3">
    <div class="row">
      <!-- CIRCLE DROPDOWN -->
      <div class="custom-col mb-3">
        <label>Circle</label>
        <select
          [disabled]="tableData?.length > 0"
          class="form-select"
          [(ngModel)]="form.circle"
          (change)="onCircleChange()"
        >
          <option value="" disabled selected>Select Circle</option>
          <option *ngFor="let c of circleList" [value]="c.label">
            {{c.label}}
          </option>
        </select>
      </div>

      <!-- DAYS -->
      <div class="custom-col mb-3">
        <label>Days</label>
        <select
          class="form-select"
          [(ngModel)]="form.day"
          (change)="getDateFromSelectedDay(form.day)"
          [disabled]="selectedCircle == ''"
        >
          <option value="" disabled>Select Day</option>
          <option *ngFor="let d of days" [value]="d">{{d}}</option>
        </select>
      </div>

      <!-- DISTRICT CHECKBOX -->
      <div class="custom-col mb-3">
        <label>District</label>

        <div class="dropdown custom-dropdown">
          <button
            style="
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            "
            class="form-select"
            type="button"
            data-bs-toggle="dropdown"
            [disabled]="selectedDay == ''"
          >
            {{ form.districts.length > 0 ? form.districts.join(', ') : 'Select
            Districts' }}
          </button>

          <ul
            class="dropdown-menu p-2"
            style="max-height: 200px; overflow-y: auto"
          >
            <input
              type="text"
              class="form-control mb-2"
              placeholder="Search district..."
              [(ngModel)]="districtSearch"
              (input)="onDistrictSearch()"
            />
            <li
              class="dropdown-item d-flex align-items-center"
              *ngFor="let d of filteredDistrictList"
              (click)="$event.stopPropagation()"
            >
              <input
                [id]="d.district"
                type="checkbox"
                class="form-check-input"
                [checked]="form.districts.includes(d.district)"
                (change)="toggleDistrict(d.district, $event)"
              />

              <label [for]="d.district" class="ms-2">{{ d.district }}</label>
            </li>
          </ul>
        </div>
      </div>

      <div class="custom-col mb-3">
        <label>Severity</label>
        <select
          class="form-select"
          [(ngModel)]="form.severity"
          [disabled]="selectedDay == ''"
        >
          <option value="" disabled>Select Severity</option>
          <option *ngFor="let s of severityList" [value]="s">{{s}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <!-- RANGE -->
      <div class="col-md-6 mb-3">
        <label>{{activeHazardTab}}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.hazardValue"
          placeholder="Enter the value"
        />
      </div>
      <!-- DESCRIPTION -->
      <div class="col-md-6 mb-3">
        <label>Description</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="form.description"
          placeholder="Enter description"
        />
      </div>
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="d-flex gap-3 mt-3">
    <!-- <button class="btn btn-success" (click)="edit()">Edit</button> -->
    <button
      *ngIf="selectedCircle !== ''"
      class="btn btn-success"
      (click)="addNewRecord()"
    >
      Add New
    </button>
    <div>
      <button class="btn btn-success" (click)="showmap()">View Map</button>
    </div>
  </div>

  <div
    class="accordion mt-4"
    id="importantLinksAccordion"
    *ngIf="activeHazardTab"
  >
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingImportantLinks">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseImportantLinks"
          aria-expanded="false"
          aria-controls="collapseImportantLinks"
          style="font-size: 20px"
        >
          Sources of Information for {{ activeHazardTab | titlecase }}
        </button>
      </h2>

      <div
        id="collapseImportantLinks"
        class="accordion-collapse collapse"
        aria-labelledby="headingImportantLinks"
        data-bs-parent="#importantLinksAccordion"
      >
        <div class="accordion-body">
          <ul class="list-group">
            <ng-container
              *ngIf="linksData[activeHazardTab]?.length > 0; else noLinks"
            >
              <li
                class="list-group-item"
                *ngFor="let link of linksData[activeHazardTab]; let i = index"
              >
                <a [href]="link.url" target="_blank"> {{ link.name }} </a>
                <p>{{ link.description }}</p>
              </li>
            </ng-container>
          </ul>

          <!-- SHOW NOTHING IF LENGTH IS 0 (No message, no value) -->
          <ng-template #noLinks>
            <h5>No Sources are available.</h5>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- ====== TABLE SHOW AFTER ADD NEW ====== -->
  <div class="table-box" *ngIf="tableData.length > 0">
    <div class="table-container mt-4 mb-2">
      <table *ngIf="tableData.length > 0" class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Tab</th>
            <th>Circle</th>
            <th>Districts</th>
            <th>Severity</th>
            <th>Day</th>
            <th>Date</th>
            <th>{{activeHazardTab}}</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of tableData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ row.tab }}</td>
            <td>{{ row.circle }}</td>
            <td>{{ row.districts.join(', ') }}</td>
            <td>{{ row.severity }}</td>
            <td>{{ row.day }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.hazardValue }}</td>
            <td>{{ row.description }}</td>

            <!-- EDIT BUTTON -->
            <td class="d-flex spacebetween gap-2">
              <button
                class="btn btn-success btn-sm"
                (click)="editTableRecords(i)"
              >
                Edit
              </button>
              <button
                class="btn btn-success btn-sm"
                (click)="deleteSelectedRow(i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: center">
      <button class="btn btn-success" (click)="onSubmitClick()">Submit</button>
    </div>
  </div>

  <!-- Full screen map viewer -->
  <div [class.hidden]="!showMapFull" class="fullscreen-map">
    <!-- <app-map-weather></app-map-weather> -->
    <div id="map" class="mapDiv">
      <!-- layer legend -->
      <div id="hazard-layer-legend" class="hazard-layer-legend">
        <h6 style="font-size: 14px">Map Layers</h6>
        <ul id="hazard-legend-list" style="font-size: 12px"></ul>
      </div>
    </div>
    <button class="close-btn" (click)="closeMap()">×</button>
  </div>
</div>

<!-- File Uploading  -->
<div [class.hidden]="!showMapFull" class="container mt-3 file-upload-div">
  <div class="card shadow-lg">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Upload Files</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">Cyclone Point File</label>
          <input
            type="file"
            class="form-control cyclone-file-input"
            accept=".json,.geojson,.shp"
            (change)="onFileSelected($event, 'point')"
          />
        </div>

        <div class="col-12">
          <label class="form-label">Cyclone Line File</label>
          <input
            type="file"
            class="form-control cyclone-file-input"
            accept=".json,.geojson,.shp"
            (change)="onFileSelected($event, 'line')"
          />
        </div>

        <div class="col-12">
          <label class="form-label">Cyclone Cone File</label>
          <input
            type="file"
            class="form-control cyclone-file-input"
            accept=".json,.geojson,.shp"
            (change)="onFileSelected($event, 'cone')"
          />
        </div>

        <div class="col-12">
          <label class="form-label">Cyclone Buffer File</label>
          <input
            type="file"
            class="form-control cyclone-file-input"
            accept=".json,.geojson,.shp"
            (change)="onFileSelected($event, 'buffer')"
          />
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button
            class="btn btn-secondary me-4 py-2 px-6"
            (click)="ClearLayer()"
          >
            Clear
          </button>
          <button
            class="btn btn-success ms-4 py-2 px-6"
            (click)="AddLayerToMap()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup -->
<div id="popup" [class.hidden]="!showMapFull" class="ol-popup"></div>

<!-- Severity Districts List -->

<div
  class="severity-div"
  [class.hidden]="!showMapFull"
  [ngStyle]="{
            bottom: showSeverityPanel
              ? (severityDistrictsList > 0 ? '10px' : '150px')
              : '230px'
          }"
>
  <button
    class="btn btn-success severity-button"
    (click)="toggleSeverityPanel()"
    *ngIf="!showSeverityPanel"
  >
    Severity Districts
  </button>

  <div class="severity-panel" *ngIf="showSeverityPanel">
    <div class="card shadow-lg h-100 severity-card">
      <div
        class="card-header bg-success text-white d-flex justify-content-between align-items-center"
      >
        <h5 class="mb-0">Districts</h5>

        <div>
          <button class="btn btn-danger btn-sm me-2" (click)="exportToExcel()">
            Export
          </button>
          <button
            class="btn btn-danger btn-sm ms-2"
            (click)="toggleSeverityPanel()"
          >
            ✖
          </button>
        </div>
      </div>

      <div class="card-body severity-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped text-center">
            <thead class="table-dark fixed-header">
              <tr>
                <th>Phenomenal</th>
                <th>Very High Seas</th>
                <th>High To Very High Rough Seas</th>
                <th>Very Rough Seas</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <ng-container *ngFor="let d of phenomenalDistricts"
                    >{{ d }}<br
                  /></ng-container>
                </td>
                <td>
                  <ng-container *ngFor="let d of veryHighSeasDistricts"
                    >{{ d }}<br
                  /></ng-container>
                </td>
                <td>
                  <ng-container
                    *ngFor="let d of highToVeryHighRoughSeasDistricts"
                    >{{ d }}<br
                  /></ng-container>
                </td>
                <td>
                  <ng-container *ngFor="let d of veryRoughSeasDistricts"
                    >{{ d }}<br
                  /></ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isIDWLayer" class="hazard-legend-container">
  <ng-container *ngIf="isRainIDWLayer; else otherLegend">
    <div class="hazard-label-gradient">
      <span>100%</span>
      <span>75%</span>
      <span>50%</span>
      <span>25%</span>
      <span>0%</span>
    </div>
  </ng-container>

  <ng-template #otherLegend>
    <div class="hazard-label-gradient">
      <span>{{ maxRange }}</span>
      <span>{{ minRange }}</span>
    </div>
  </ng-template>

  <div class="hazard-color-gradient"></div>
</div>
