.main-container{
  padding: 15px;
}

.option-value {
    margin-bottom: 35px;
}
  .custom-dropdown .dropdown-menu {
    width: 100%;
    height: 800px;
  }
  
  .custom-dropdown .dropdown-item {
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .custom-dropdown input[type="checkbox"] {
    cursor: pointer;
  }
  
  /* ======== GLOBAL PAGE LAYOUT FIX ======== */
:host {
  display: block;
  width: 100%;
}

/* Prevent shrinking when scrollbar appears */
body {
  overflow-y: scroll !important;
}

/* Keep full width, no shifting when scroll comes */
html {
  scrollbar-gutter: stable both-edges;
}

/* ======== CARD STYLE ======== */
.card {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  border: none;
}

/* ======== CUSTOM DROPDOWN ======== */
.custom-dropdown .form-select {
  cursor: pointer;
  background-color: #fff;
}

.custom-dropdown .dropdown-menu {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* Checkbox alignment */
.custom-dropdown .dropdown-item {
  cursor: pointer;
  padding: 6px 10px;
}

/* ======== BUTTON ACTIVE TAB ======== */
button.active {
  background-color: #198754 !important;
  color: white !important;
}

/* ======== TABLE SCROLL & RESPONSIVE ======== */
table {
  width: 100%;
  border-collapse: collapse;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

table th {
  background: #198754;
  color: white;
  position: sticky;
  top: 0;
}

/* Prevent shrinking of table text */
td, th {
  white-space: nowrap;
}

.fullscreen-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  overflow: hidden;
  padding: 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  /* right: 50%; */
  left: 95%;

  font-size: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10000;
}


.custom-col {
  flex: 0 0 100%;
  max-width: 100%;
}

.accordion-button {
  font-weight: bold;
  background-color: #f0fdf4;
  color: #14532d;
  font-size: 21px;
}

.accordion-button:not(.collapsed) {
  background-color: #157347;
  color: white;
  font-size: 21px;
}

/* ===== MOBILE RESPONSIVE FIX ===== */
@media (max-width: 768px) {
  .summary-table-container {
    gap: 10px;
    justify-content: center;
  }

  table {
    font-size: 12px;
  }

  .dropdown-menu {
    max-height: 150px !important;
  }

  .main-container{
    margin-bottom: 100px;
  }
}


/* 700px to 1000px = 2 columns */
@media (min-width: 650px) and (max-width: 1050px) {
  .custom-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* >1000px = 4 columns */
@media (min-width: 1050px) {
  .custom-col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}